:root {
  --offwhite: #fcf9f5;
  --charcoal: #2d2d2d;
  --muted-gold: #c5a059;
  --rose: #e5d1d0;
}
header {
  background-color: var(--offwhite);
  width: 100vw;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
}
img.logo {
  border-radius: 1rem;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-img {
  width: 900px;
  height: 450px;
  object-fit: cover;
}
h1 {
  font-size: 40px;
  position: absolute;
  top: 160px;
  left: 480px;
}
.intro-paragraph {
  font-size: 25px;
  width: 400px;
  position: absolute;
  top: 240px;
  left: 480px;
}

.intro-section {
  position: relative;
  width: 900px;
  height: 500px;
}
.details-section {
  width: 900px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.order-section {
  width: 1000px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

h2 {
  margin: 20px 0;
}

h3 {
  margin: 10px 0;
}

nav a {
  text-decoration: none;
  color: var(--charcoal);
  margin: 8px 5px;
}

a.btn {
  background-color: var(--muted-gold);
  color: var(--offwhite);
  font-size: 20px;
  border: none;
  border-radius: 5px;
  padding: 8px;
  margin: 15px;
  text-decoration: none;
}
.btn:hover {
  background-color: var(--charcoal);
  transition: 0.3s;
}

.form-details {
  display: flex;
  flex-direction: column;
  width: 450px;
}

form input {
  height: 30px;
  font-size: 18px;
  border-radius: 5px;
  border: #80683a 3px solid;
}
#submit-order {
  width: 100px;
  margin-top: 20px;
  border: none;
  background-color: var(--muted-gold);
}
form input:focus {
  outline: none;
  border-color: rgb(64, 112, 114);
}

footer {
  background-color: var(--offwhite);
  width: 100vw;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer nav {
  display: inline-block;
  align-items: baseline;
  margin-bottom: 15px;
}
footer p {
  margin: 5px 0 20px 0;
  font-size: 18px;
}

/* ####################  PHONE  ####################### */

@media (max-width: 650px) {
  .home-img {
    width: 300px;
    height: 150px;
  }
  h1 {
    font-size: 14px;
    top: 30px;
    left: 140px;
  }
  .intro-paragraph {
    font-size: 10px;
    width: 150px;
    top: 60px;
    left: 140px;
  }
  .intro-section {
    width: 300px;
    height: 150px;
  }
  .details-section {
    width: 300px;
    height: 350px;
    font-size: 14px;
  }
  h2 {
    font-size: 14px;
  }
  .form-details {
    width: 250px;
  }
  form input {
    font-size: 12px;
  }
  a.btn {
    font-size: 14px;
    font-weight: 700;
    margin: 5px;
  }
  footer {
    height: 20px;
  }
}
/* ##################  TABLET  ######################### */

@media (min-width: 651px) and (max-width: 1000px) {
  .home-img {
    width: 600px;
    height: 300px;
  }
  h1 {
    font-size: 22px;
    top: 96px;
    left: 288px;
  }
  .intro-paragraph {
    font-size: 20px;
    width: 300px;
    top: 144px;
    left: 288px;
  }
  .intro-section {
    width: 600px;
    height: 300px;
  }
  .details-section {
    width: 600px;
    height: 400px;
  }
  .form-details {
    width: 350px;
  }
  form input {
    font-size: 14px;
  }
  h2 {
    font-size: 20px;
  }
}
