:root {
  --offwhite: #fcf9f5;
  --charcoal: #2d2d2d;
  --muted-gold: #c5a059;
  --rose: #e5d1d0;
}

:root {
  --offwhite: #fcf9f5;
  --charcoal: #2d2d2d;
  --muted-gold: #c5a059;
  --rose: #e5d1d0;
}
header {
  background-color: var(--offwhite);
  width: 100vw;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
img.logo {
  border-radius: 1rem;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
h1 {
  font-size: 40px;
  position: absolute;
  top: 160px;
  left: 100px;
}
.intro-paragraph {
  font-size: 25px;
  width: 50%;
  position: absolute;
  top: 240px;
  left: 100px;
}

.intro-section {
  position: relative;
  width: 1000px;
  height: 500px;
}
.details-section {
  width: 1000px;
  height: 350px;
  /* margin-bottom: 50px; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.contact-section {
  width: 1000px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

h2 {
  margin: 20px 0;
}

h3 {
  margin: 10px 0;
}
.features {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  text-align: center;
}
.features img {
  width: 80px;
  height: 80px;
  margin: 10px;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 30px;
  text-align: center;
}

nav a {
  text-decoration: none;
  color: var(--charcoal);
  margin: 8px 5px;
}

a.btn {
  background-color: var(--muted-gold);
  color: var(--offwhite);
  font-size: 20px;
  border: none;
  border-radius: 5px;
  padding: 8px;
  margin: 15px;
  text-decoration: none;
}
.btn:hover {
  background-color: var(--charcoal);
}

footer {
  background-color: var(--offwhite);
  width: 100vw;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer nav {
  display: inline-block;
  align-items: baseline;
  margin-bottom: 15px;
}
footer p {
  margin: 5px 0 20px 0;
  font-size: 18px;
}
